html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.2;
  background: whitesmoke;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", PingFangTC-regular, sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

a, button, input[type=button] {
  transition: 0.2s ease-in-out;
}

a:hover, button:hover, input[type=button] {
  cursor: pointer;
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 100%;
  height: 380px;
  background: url(../img/the-urban-landscape-1698285.png);
  background-position: top 20% center;
  text-align: center;
}
.banner h2 {
  font-size: 40px;
  padding: 100px 0 80px;
  color: white;
}

select {
  width: 450px;
  padding: 5px 7px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  border: 2px solid white;
  font-size: 16px;
  -webkit-appearance: none;
  background-image: url(../img/sort-down-solid.svg);
  background-position: 98% center;
  background-size: 25px;
  background-repeat: no-repeat;
  outline: none;
}
@media (max-width: 568px) {
  select {
    width: 75%;
  }
}

.hotzone {
  width: 800px;
  position: absolute;
  background: white;
  left: 50%;
  top: 350px;
  transform: translateX(-50%);
  border-radius: 5px;
  padding: 20px 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 896px) {
  .hotzone {
    width: 80%;
  }
}
@media (max-width: 667px) {
  .hotzone {
    width: 70%;
    padding: 20px 35px;
  }
}
@media (max-width: 568px) {
  .hotzone {
    width: 75%;
    padding: 20px;
  }
}
.hotzone p {
  font-size: 16px;
  padding-bottom: 15px;
}
.hotzone ul {
  display: flex;
}
@media (max-width: 667px) {
  .hotzone ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.hotzone ul li {
  font-size: 16px;
  margin: 0 10px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .hotzone ul li {
    margin: 0 7px;
  }
}
@media (max-width: 667px) {
  .hotzone ul li {
    margin: 5px 10px;
  }
}
@media (max-width: 568px) {
  .hotzone ul li {
    margin: 5px;
  }
}
.hotzone ul li:nth-child(1) input {
  background: #8A82CC;
}
.hotzone ul li:nth-child(1) input:hover {
  box-shadow: 2px 2px 0 rgba(138, 130, 204, 0.3);
}
.hotzone ul li:nth-child(2) input {
  background: #FFA782;
}
.hotzone ul li:nth-child(2) input:hover {
  box-shadow: 2px 2px 0 rgba(255, 167, 130, 0.3);
}
.hotzone ul li:nth-child(3) input {
  background: #F5D005;
}
.hotzone ul li:nth-child(3) input:hover {
  box-shadow: 2px 2px 0 rgba(245, 208, 5, 0.3);
}
.hotzone ul li:nth-child(4) input {
  background: #559AC8;
}
.hotzone ul li:nth-child(4) input:hover {
  box-shadow: 2px 2px 0 rgba(85, 154, 200, 0.3);
}
.hotzone ul li input[type=button] {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 35px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .hotzone ul li input[type=button] {
    padding: 10px 30px;
  }
}
@media (max-width: 667px) {
  .hotzone ul li input[type=button] {
    padding: 10px 35px;
  }
}
@media (max-width: 414px) {
  .hotzone ul li input[type=button] {
    padding: 10px 25px;
  }
}
@media (max-width: 375px) {
  .hotzone ul li input[type=button] {
    padding: 10px 35px;
  }
}
.hotzone ul li input[type=button]:focus {
  outline: none;
}

.content {
  width: 100%;
  margin: 130px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 667px) {
  .content {
    margin: 200px 0 40px;
  }
}
@media (max-width: 375px) {
  .content {
    margin: 300px 0 40px;
  }
}
.content .go-down {
  position: relative;
  width: 92%;
  height: 1px;
  background: linear-gradient(to right, #559AC8 0%, #559AC8 50%, transparent 50%);
  background-size: 3px;
  margin-bottom: 40px;
}
@media (max-width: 896px) {
  .content .go-down {
    width: 80%;
  }
}
.content .go-down::before, .content .go-down::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.content .go-down::before {
  top: -12px;
  width: 24px;
  height: 24px;
  background: whitesmoke;
  border: 1px solid #559AC8;
  border-radius: 50%;
}
.content .go-down::after {
  top: -3px;
  width: 0;
  height: 0;
  border-width: 8px 6px 0px;
  border-style: solid;
  border-color: #559AC8 transparent transparent;
}
.content .title {
  font-size: 36px;
  color: #8A82CC;
  padding: 35px;
}
.content .intro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 30px;
}
@media (max-width: 896px) {
  .content .intro {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
.content .intro > li {
  width: 47%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background: white;
  border-radius: 3px;
  overflow: hidden;
  margin: 0 12px 35px;
}
@media (max-width: 896px) {
  .content .intro > li {
    width: 465px;
    margin: 0 0 35px;
  }
}
@media (max-width: 667px) {
  .content .intro > li {
    width: 75%;
  }
}
@media (max-width: 568px) {
  .content .intro > li {
    width: 80%;
  }
}
@media (max-width: 414px) {
  .content .intro > li {
    width: 85%;
  }
}
.content .intro > li .pic {
  position: relative;
  height: 155px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
}
.content .intro > li .pic .shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, transparent 30%, rgba(0, 0, 0, 0.5));
}
.content .intro > li .pic h4 {
  max-width: 70%;
  font-size: 24px;
  z-index: 10;
}
.content .intro > li .pic span {
  font-size: 16px;
  z-index: 10;
}
.content .intro > li > ul {
  padding: 20px 25px 5px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content .intro > li > ul li {
  text-indent: -10px;
  margin-bottom: 15px;
  margin-left: 22px;
}
.content .intro > li > ul li i {
  width: 5px;
  text-align: center;
}
.content .intro > li > ul li i.fa-clock {
  color: #8A82CC;
}
.content .intro > li > ul li i.fa-map-marker-alt {
  color: #FFA782;
}
.content .intro > li > ul li i.fa-mobile-alt {
  color: #559AC8;
}
.content .intro > li > ul li i.fa-tag {
  color: #F5D005;
}
.content .intro > li > ul li:last-child {
  align-self: flex-end;
}
.content .pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  font-size: 14px;
  line-height: 1.5;
}
.content .pagination li {
  color: #4A4A4A;
  padding: 0 10px;
}
.content .pagination li.prev a, .content .pagination li.next a {
  color: #4A4A4A;
  text-decoration: none;
}
.content .pagination li.prev a.disable, .content .pagination li.next a.disable {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
.content .pagination li .page {
  color: #4A4A4A;
  text-decoration: none;
}
.content .pagination li .page:hover {
  color: #c8c8c8;
}
.content .pagination li .page:active, .content .pagination li .page:focus {
  color: #559AC8;
}

.footer {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #559AC8;
}
.footer h5 {
  font-size: 14px;
  color: white;
  padding-bottom: 15px;
}
.footer p {
  font-size: 13px;
  color: #F5D005;
}

.go-top {
  position: fixed;
  right: 20px;
  bottom: 15px;
  font-size: 25px;
  color: #c8c8c8;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.go-top:hover {
  color: #4A4A4A;
}